.navbar {
  padding: 1rem;
  background-color: var(--color-nav);
}
.navbar__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__brand {
  a {
    font-size: 1.4rem;
    color: var(--color-text-main);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: var(--color-text-hover);
    }
  }
}
.nav__links {
  display: flex;
  list-style: none;
  align-items: center;
}
.links__link {
  a {
    display: block;
    padding: 1rem;
    color: var(--color-text-main);
    text-decoration: none;
    margin-left: 0.5rem;
    border: 1px solid var(--color-nav);
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
    &:hover {
      border-bottom: 1px solid var(--color-text-hover);
      color: var(--color-text-hover);
    }
  }
}
