.listitem {
  text-decoration: none;
  width: 210px;
  color: var(--color-text);
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
    0 3px 1px 0 rgba(20, 23, 28, 0.1);
  margin: 1rem auto;
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}
.listitem__info {
  text-align: center;
}
.info__name {
  font-size: 1rem;
  padding: 5px;
}
.info__rating {
  color: rgba(245, 188, 33, 0.822);
  padding: 5px;
}
.homepage__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
